* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 1920px;
}

button {
  -webkit-appearance: none;
  display: block;
  background: transparent;
  outline: 0;
  margin: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
}
